# Graph-specific file paths for twitter-2010 dataset
# This file can be modified without recompilation.

# Required: Standard graph structure
xadj = ../../data/twitter-2010/twitter-2010_xadj.bin
adjncy = ../../data/twitter-2010/twitter-2010_edge.bin
adjwgt = ../../data/twitter-2010/twitter-2010_weight.bin

# Optional: Additional walker-specific fields
edge_label = ../../data/twitter-2010/twitter-2010_mp_label.bin
